@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.header {
	text-align: center;
	padding: 1rem;
	position: sticky;
	top: 0;
	z-index: 1;
	background: rgb(70, 129, 177);
	background: linear-gradient(
		79deg,
		rgba(70, 129, 177, 0.9) 20%,
		rgba(65, 185, 137, 0.9) 100%
	);
	border-bottom: 2px solid rgba(0, 0, 0, .5);
}

.header h1 {
	font-family: 'Orbitron', serif;
	font-size: 2.5rem;
	font-weight: 900;
	color: #fff;
}

.header input {
	width: 15rem;
	height: 3rem;
}

.header input::placeholder {
	text-align: center;
}

.main_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem 0 2rem;
	position: relative;
}

.class_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
